/* Button Colours */
.mentor {
  box-shadow: 0px 0px 7px grey;
  transition: 400ms ease-out;
  height: 100% !important;
}
.mentor:hover {
  background-color: #0f9ed5;
  color: #fff;
}

.mentor-details-img {
  width: 7rem;
  height: 9rem;
  border: 1px solid black;
  box-shadow: 0px 0px 7px grey;
  border-radius: 3px;
  object-fit: cover;
  margin-right: 1rem;
}

.mentors-chat-sidebar-body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.chat-item {
  padding-bottom: 1rem !important;
  color: #000;
  border-bottom: 1px solid lightgrey;
}
.chat-item:hover {
  color: #fff !important;
  background-color: #0f9ed5 !important;
  border-bottom: 1px solid #0f9ed5;
}
.chat-item:hover p:nth-child(2) {
  color: #fff;
}
.chat-item p:nth-child(2) {
  color: grey;
}