html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif !important;
}
main {
  margin-bottom: 6rem;
}
.btn {
  font-size: 1.6rem !important;
  font-family: 'Roboto', sans-serif !important;
}
.btn-main {
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    color: #000;
    background-color: transparent;
    border: 1px solid grey;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    overflow-wrap: break-word;
    transition: 400ms ease-out;
    display: flex;
    box-shadow: 0px 0px 7px grey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    &:hover {
      background-color: $mercy-color-1;
      color: #fff;
    }
    &:hover .btn-main-icon {
      transition: 400ms ease-out;
      filter: invert(100%) sepia(16%) saturate(0%) hue-rotate(107deg) brightness(108%) contrast(101%);
    }
}
.btn-secondary {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  color: #000;
  background-color: transparent;
  @include border(border);
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  overflow-wrap: break-word;
  transition: 400ms ease-out;
  margin: 0 0 2rem 0;
  height: 100%;
}
.btn-secondary:hover {
  background-color: $mercy-color-1;
}
.btn-main-icon {
  width: 5rem;
}

.btn-outline-info {
  border: 1px solid $mercy-color-1 !important;
  font-weight: 600 !important;
  color: $mercy-color-1 !important;
  border-radius: 0.365rem;
  height: 100%;
  &:hover {
    color: #fff !important;
    background-color: $mercy-color-1 !important
  }
}
.btn-sm {
  font-size: 1.4rem !important;
  height: 100%;
}

.btn-info {
  background-color: $mercy-color-1 !important;
  font-weight: 600 !important;
  color: #fff !important;
  border: none !important;
  height: 100%;
  // box-shadow: 0px 0px 2px 2px grey !important;
  &:hover {
    background-color: #000 !important;
  }
}

.btn-lg {
  font-size: 1.6rem !important;
  height: 100%;
}
// Form
.form-control {
  border: 1px solid grey !important;
  font-size: 1.6rem !important;
}
.login-text {
  margin: 0 0 0 0 !important;
}
.small {
  font-size: 1.4rem !important;
  font-family: 'Roboto', sans-serif;
}
.form-registration {
  .row {
    .col-lg-6, .col {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin: 0 0 1.5rem 0;
    }
  }
}
.form-registration-label {
  margin: 0;
}

.card-body {
  div, p {
    font-size: 1.4rem
  }
}

.question-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  &-button {
    margin: 0 2rem 0 0;
    margin-bottom: 1rem;
  }
}

a {
  text-decoration: none !important;
}

// Alert
.alert {
  p {
    margin-bottom: 0;
  }
}

// Modal
.modal {
  justify-content: center;
  align-items: center;
  background-color: rgb(#000, .7);
  display: flex !important;
  .modal-popup {
    max-width: 80rem;
    margin: auto;
    margin-top: 7.2rem;
    padding: 1.5rem 2rem 2rem 2rem;
    background-color: #fff;
    border: 1px solid $mercy-color-2;
    box-shadow: 0px 0px 2px 2px $mercy-color-3;
    &-icon { 
      text-align: right;
      svg {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        :hover {
          filter: invert(13%) sepia(96%) saturate(6849%) hue-rotate(358deg) brightness(92%) contrast(117%);
        }
      }
    }
  }
}

.show-modal {
  display: flex !important;
  transition: 350ms ease-out;
}

.hide-modal {
  display: none !important;
  transition: 350ms ease-out;
}

.show {
  position: relative;
  display: block !important;
  transition: 1000ms ease-in-out;
}

.hide {
  position: absolute;
  top: -200px;
  display: none !important;
  transition: 1000ms ease-in-out;
}

// Back Icon
.back-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.link-dark {
  display: inline-block;
  align-items: center;
  width: fit-content;
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
  }
}

.red {
  color: red;
  margin: 0;
}

.question-icon-box {
  text-align: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.question-icon {
  text-align: right;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  :hover {
    filter: invert(13%) sepia(96%) saturate(6849%) hue-rotate(358deg) brightness(92%) contrast(117%);
  }
}

.breadcrumb-slash {
  margin: 0 5px;
  font-family: 'Roboto', sans-serif;
}

.link-blue {
  display: inline-block;
  align-items: center;
  width: fit-content;
  text-decoration: underline !important;
  color: #0b5ed7 !important;
  &:hover {
    text-decoration: none !important;
  }
}

// General
#root {
  margin-bottom: 5rem;
}

// TinyMC
.tox-statusbar__right-container {
  display: none !important;
}
.tox-statusbar__path {
  display: none !important;
}

// Highlight

.highlight {
  background-color: yellow;
  color: #000;
}

.m-right {
  margin-right: 2rem;
}

// Page filter
.page-filter {
  padding-top: 4rem;
  width: 100%;
}