@import "../_partials/variables";

.dashboard {
    display: flex;
    margin-bottom: 4rem;
  }
  .dashboard-options {
    padding: 3rem;
    border-radius: 5px;
    &-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        &-link {
          text-decoration: none;
        }
    }
  }
.dashboard-questions {
  border: 2px solid #d3d3d3;
    width: 100%;
    height: 100%;
    background-color: $mercy-color-2;
    padding: 0 2rem 2rem 2rem;
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 70rem;
    &-items {
      .card {
        .card-body {
          padding: 15px 15px 5px 15px !important;
        }
      }
    }
}
.dashboard-user {
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-height: 70rem;
    background-color: $mercy-color-2;
    padding: 2rem;
    &-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        font-size: 1.8rem;
      }
      &-image {
        margin-right: 1rem;
        width: 8rem; 
        border: 1px solid black;
        box-shadow: 0px 0px 7px grey;
        border-radius: 3px;
          height: 10rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
    }
    &-details-links {
      .link-item {
        display: flex;
        justify-content: space-between;
        a {
          color: red;
        }
      }
      .dashboard-calender {
        display: flex;
        flex-direction: column;
      }
    }
}
.questions-details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  &-name {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
    width: 100%;
    &-img {
      width: 5rem;
      height: 6rem;
      border: 1px solid black;
      border-radius: 3px;
      object-fit: cover;
      margin: 0 0.7rem 0 0;
    }
    &-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      .questions-details-posted {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  p {
    font-size: 1.4rem;
    margin: 0;
  }
}

.dashboard-border {
position: sticky;
top: 0;
z-index: 999;
background-color: #f8f9fc;
padding:  20px 0 5px 0;
}