@import '../_partials/variables';

.get-help {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-img {
        width: 5rem;
        height: 6rem;
        border: 1px solid black;
        box-shadow: 0px 0px 7px grey;
        border-radius: 3px;
        object-fit: cover;
        margin-right: 1rem;
    }
}

.get-help-details {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding-top: 4rem;
}

.get-help-item {
    box-shadow: 0px 5px 4px lightgrey;
    transition: 350ms ease-out;
    &:hover {
        background-color: $mercy-color-1;
        color: #fff;
        transition: 350ms ease-out;
    }
}