@media screen and (max-width: 1000px) { 
      // Bootstrap
    .container-fluid {
      padding: 0 2rem !important;
    }
    // General
    .dashboard-buttons {
        grid-template-columns: repeat(2, 1fr);
      }
    
    .btn {
      width: 100%;
      min-width: 150px;
    }
    // Sidebar
    .sidebar {
        display: none;
    }
    // Dashboard Options
    .dashboard-options {
      padding: 3rem 0;
    }
}