/* Button Colours */
.react-calendar {
  width: 100% !important;
  max-width: 100%;
  background: white;
  border: 1px solid #d3d3d3 !important;
  border-radius: 5px !important;
  font-family: "Roboto", sans-serif !important;
  line-height: 1.125em;
  padding-bottom: 10px;
}

button.react-calendar__navigation__label span {
  font-size: 14px;
  font-weight: 700;
}

abbr {
  font-size: 12px;
  text-decoration: none !important;
}

.react-calendar__tile--now {
  background: #000 !important;
  opacity: 0.8;
  font-weight: 700 !important;
  color: #fff;
  border-radius: 5px;
}

.react-calendar__navigation__next-button, .react-calendar__navigation__next2-button, .react-calendar__navigation__prev-button, .react-calendar__navigation__prev2-button {
  font-size: 20px !important;
  font-weight: 700;
}