.job {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.form-create-job {
  width: 100%;
  max-width: 90rem;
}

.job-detail-div {
  height: 300px;
  overflow-y: scroll;
}

.get-help-item {
  position: relative;
}
.get-help-item .checked-mark {
  position: absolute;
  right: -5px;
  top: -10px;
}