/* Button Colours */
.mentors-chat {
  margin-bottom: -11rem;
  background-color: #fff;
  overflow-x: hidden;
}

.chat-date {
  font-size: 1.2rem !important;
  color: grey;
}

.mentors-chat-list {
  height: 100%;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.mentors-chat-item {
  border-left: 1px solid #d0cccc;
}

.mentors-chat-item-header {
  background-color: #fff;
}
.mentors-chat-item-header .row {
  padding: 2rem 2rem 1rem 2rem;
}

.chat-item-header-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-position: center;
  border: 1px solid black;
  border-radius: 3px;
  object-fit: cover;
  border-radius: 50%;
}

.mentors-chat-item-body {
  height: calc(90vh - 190px);
  overflow-y: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
}

.mentors-chat-item-keyboard {
  border-top: 1px solid #d0cccc;
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: #fff;
  padding: 2rem 2rem 1rem 2rem;
}
.mentors-chat-item-keyboard div {
  width: 100%;
}

.chat-input {
  color: #000;
  border-radius: 50px !important;
  border: 2px solid #d3d3d3 !important;
}

.send-chat {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
}
.send-chat-input {
  width: 100% !important;
}
.send-chat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content !important;
  background-color: #0f9ed5;
  padding: 1rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.send-chat-icon:hover {
  cursor: pointer;
}
.send-chat-icon .send-icon {
  width: 1.7rem;
  height: 1.7rem;
  filter: invert(98%) sepia(28%) saturate(150%) hue-rotate(192deg) brightness(115%) contrast(100%);
}

.chat {
  margin: 1rem 0;
}

.current-user-message {
  width: fit-content;
  max-width: 70%;
  float: right;
  margin-left: auto;
  display: block;
}
.current-user-message .card {
  border-radius: 1.5rem 1.5rem 0 1.5rem !important;
  background-color: #0f9ed5 !important;
  color: #fff !important;
  font-weight: 500 !important;
  margin-right: 7rem;
  margin-bottom: -0.5rem;
  margin-left: auto !important;
  border: none !important;
  width: fit-content !important;
  padding: 0 1rem !important;
}
.current-user-message .card p {
  margin: 0;
}
.current-user-message .image {
  margin-right: 2rem;
  display: flex;
  justify-content: end;
  flex-direction: row;
}
.current-user-message .image .date {
  margin-right: 1rem;
}
.current-user-message .image .chat-img {
  width: 4rem !important;
  height: 4rem !important;
  object-position: center;
  border: 1px solid black;
  border-radius: 3px;
  object-fit: cover;
  border-radius: 50%;
}

.other-user-message {
  width: fit-content;
  max-width: 70%;
  margin-right: auto;
  float: left;
}
.other-user-message .card {
  border-radius: 1.5rem 1.5rem 1.5rem 0 !important;
  background-color: lightgrey !important;
  color: #000 !important;
  font-weight: 500 !important;
  margin-left: 7rem;
  margin-bottom: -0.5rem;
  margin-right: auto !important;
  border: none !important;
  width: fit-content !important;
  padding: 0 1rem !important;
}
.other-user-message .card p {
  margin: 0;
}
.other-user-message .image {
  margin-left: 2rem;
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
}
.other-user-message .image .date {
  margin-left: 1rem;
}
.other-user-message .image .chat-img {
  width: 4rem !important;
  height: 4rem !important;
  object-position: center;
  border: 1px solid black;
  border-radius: 3px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebare-lastchat p {
  color: lightgray;
}

.sidebare-lastchat * {
  font-size: 1.4rem !important;
  font-family: "Roboto", sans-serif;
  color: inherit !important;
}