/* Button Colours */
header {
  position: sticky;
  border-bottom: 1px solid #f8f9fc;
  padding-top: 2rem;
  box-shadow: 2px 2px 2px #d3d3d3;
  z-index: 10000;
  top: 0;
  background-color: #fff;
}

.navbar {
  flex-wrap: nowrap;
  justify-content: space-between !important;
}
.navbar .nav-brand {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .nav-brand .brand {
  margin-right: 1rem;
}
.navbar .nav-brand h1 {
  font-size: 3rem !important;
}

.nav-item {
  font-size: 1.6rem;
}

.nav-link {
  color: grey !important;
  font-weight: 600 !important;
}
.nav-link:hover {
  color: #000 !important;
}

.nav-link.active, .nav-pills .show > .nav-link {
  background-color: #0f9ed5 !important;
  color: #fff !important;
}

.active-header {
  background-color: #0f9ed5 !important;
  color: #fff !important;
}